.btn {
  color: inherit;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  font-weight: 700;
  background-color: var(--light);
  color: var(--orange);
  border: 1px solid var(--orange);
}
.primary:hover {
  font-weight: 700;
  background-color: var(--orange);
  color: var(--light);
}

.back {
  font-weight: 600;
  background-color: var(--light);
  color: var(--medium);
  border: 1px solid var(--medium);
}
.back:hover {
  background-color: var(--medium);
  color: var(--light);
  border: 1px solid var(--light);
}

.position {
  font-weight: 700;
  position: absolute;
  z-index: 1000;
  font-size: 1rem;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--orange);
  color: var(--light);
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
  text-align: center;
}
.cta {
  max-width: 300px;
  background-color: var(--orange);
  color: var(--light);
  font-weight: 600;
  margin: 0 auto;
}
.cta:hover,
.position:hover {
  background-color: var(--light);
  color: var(--orange);
}
.delete {
  aspect-ratio: 1;
  border-radius: 50%;
  /* background-color: var(--dark); */
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--very-dark);
}

.delete:hover {
  /* background-color: var(--light); */
  color: var(--orange);
}
