.countryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 7px;
  border: 1px solid var(--medium);
  padding: 1rem 1.5rem;
  color: var(--very-dark);
  margin: 0.5rem;
}
