#hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    /* height:100%; */
    margin: 0 auto;
    /* overflow: hidden; */
    /* overflow-x: scroll; */
    font-family: sans-serif;
    list-style-type: none;
  }
