.hexagon {
  -clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  overflow: hidden;
  display: inline-block;
  height: 300px;
  width: 300px;
  position: relative;
  margin: 0 auto;
}
.hexagon img {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.hexagon p {
  font-size: 2rem;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hexagon img:hover,
.hexagon p:hover {
  filter: blur(50px);
}
.hexagon:hover p {
  display: block;
}

@media (min-width: 981px) {
  .hexagon:nth-child(4),
  .hexagon:nth-child(5),
  .hexagon:nth-child(6) {
    transform: translate(155px, -75px);
  }
  .hexagon:nth-child(7),
  .hexagon:nth-child(8),
  .hexagon:nth-child(9) {
    transform: translateY(-150px);
  }
}
