.sidebar {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  border: 1px solid var(--dark);
  height: 97.5vh;
  border-radius: 7px;
}

@media screen and (max-width: 550px) {
  .sidebar {
    flex-basis: 100%; 
    margin: 1rem 0;
  }
}
