/* leaflet map */
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

/* belleza-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Belleza";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/belleza-v17-latin-regular.woff2") format("woff2");
}
/* allura-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Allura";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/allura-v21-latin-regular.woff2") format("woff2");
}

:root {
  --light: #feffff;
  --medium: #209cb4;
  --dark: #017d97;
  --very-dark: #054b6b;
  --orange: #ff914d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Belleza", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}
input,
button,
textarea,
select {
  font: inherit;
}
img {
  display: block;
  max-width: 100%;
}
